<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818324403236-5i5el2tl5pta64tb84lqd5a8n3lm2g6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818324403236-5i5el2tl5pta64tb84lqd5a8n3lm2g6q</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2g0qJNBddyouMy2TefEJ4GvOzL3IfUc</string>
	<key>GCM_SENDER_ID</key>
	<string>818324403236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuken.Motivation-</string>
	<key>PROJECT_ID</key>
	<string>motivationplus-e098a</string>
	<key>STORAGE_BUCKET</key>
	<string>motivationplus-e098a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818324403236:ios:3a4752563a54f0241814b1</string>
	<key>DATABASE_URL</key>
	<string>https://motivationplus-e098a.firebaseio.com</string>
</dict>
</plist>